<%= form_for(@ticket_kind) do |f| %>
  <% if @ticket_kind.errors.any? %>
    <ul>
      <% @ticket_kind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :title, "Title of this kind of ticket" %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.check_box :is_access_code, onclick: "$('#access').toggle()" %>
    <%= f.label :is_access_code, "Access code?" %><br />
    <span class="label_note">
      Use an Access Code to reveal a hidden free ticket.<br>
      Use a Discount Code to give a 100% discount on a paid ticket.
    </span>
  </p>

  <div id="access" class="callout" style="<%= 'display:none' unless @ticket_kind.is_access_code %>" >
    Eventbrite ticket to give access to:
    <% @eventbrite_free_hidden_tickets.each do |eticket| %>
      <br/>
      <%= f.radio_button :eventbrite_ticket_id, eticket['id'] %>
      <label for="eventbrite_ticket_id_<%= eticket['id'] %>">
        <%= eticket['name'] %>
      </label>
    <% end %>
  </div>

  <div id="discount" class="callout" style="<%= 'display:none' if @ticket_kind.is_access_code %>" >
    Eventbrite ticket to create discount for:
    <% @eventbrite_paid_tickets.each do |eticket| %>
      <br/>
      <%= f.radio_button :eventbrite_ticket_id, eticket['id'] %>
      <label for="eventbrite_ticket_id_<%= eticket['id'] %>">
        <%= eticket['name'] %>
      </label>
    <% end %>
  </div>

  <p>
    <%= f.label :prefix, "Prefix to add to discount code" %><br />
    <%= f.text_field :prefix %>
  </p>
  <p>
    <%= f.label :subject, "Email's subject line" %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :template, "Email's body" %><br />
    <span class="label_note">
      Enter <strong>%CODE%</strong> into the template where you want the discount code to appear:    <br />
    </span>
    <%= f.text_area :template %>
  </p>
  <p>
    <%= f.submit @ticket_kind.new_record? ? 'Create' : 'Update' %>
  </p>
<% end %>
