<% page_title "Listing kinds of tickets" %>

<table>
  <tr>
    <th>Title</th>
    <th>Prefix</th>
    <th>Access Code?</th>
    <th>Manage</th>
  </tr>

  <% @ticket_kinds.each do |ticket_kind| %>
    <tr>
      <td><%= ticket_kind.title %></td>
      <td><%= ticket_kind.prefix %></td>
      <td><%= ticket_kind.is_access_code ? "yes: #{Event.name_for_ticket(ticket_kind.eventbrite_ticket_id)} ticket" : "no" %></td>
      <td>
        <%= link_to 'Show', ticket_kind_path(ticket_kind) %> |
        <%= link_to 'Edit', edit_ticket_kind_path(ticket_kind) %> |
        <%= link_to 'Destroy', ticket_kind, confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p class="label_note">
  Use an Access code to reveal a hidden free ticket.<br>
  Otherwise it will be a Discount code: a more generic code that makes the Regular ticket free.
</p>
<br />

<%= link_to 'New ticket_kind', new_ticket_kind_path %>
