<% page_title "Show kind of ticket" %>

<p>
  <b>Title:</b>
  <%=h @ticket_kind.title %>
</p>

<p>
  <b>Access Code?</b>
  <%= @ticket_kind.is_access_code ? 'yes' : 'no' %>
</p>
<p><!-- TODO hide when not an access code -->
  <b>Eventbrite ticket to give access to:</b>
  <%= @event.name_for_ticket(@ticket_kind.eventbrite_ticket_id) %>
</p>

<p>
  <b>Prefix:</b>
  <%=h @ticket_kind.prefix %>
</p>

<p>
  <b>subject:</b>
  <%=h @ticket_kind.subject %>
</p>

<p>
  <b>Template:</b>
  <%= simple_format @ticket_kind.template %>
</p>


<%= link_to 'Edit', edit_ticket_kind_path(@ticket_kind) %> |
<%= link_to 'Back', ticket_kinds_path %>
