<% page_title "Show kind of ticket" %>

<p>
  <b>Title:</b>
  <%= @ticket_kind.title %>
</p>

<p>
  <b>Access Code?</b>
<% if @ticket_kind.is_access_code %>
  yes
</p>
<p>
  <b>Eventbrite ticket to give access to:</b>
  <%= Event.name_for_ticket(@ticket_kind.eventbrite_ticket_id) %>
</p>
<% else %>
  no
<% end %>
</p>

<p>
  <b>Prefix:</b>
  <%= @ticket_kind.prefix %>
</p>

<p>
  <b>subject:</b>
  <%= @ticket_kind.subject %>
</p>

<p>
  <b>Template:</b>
  <%= simple_format @ticket_kind.template %>
</p>


<%= link_to 'Edit', edit_ticket_kind_path(@ticket_kind) %> |
<%= link_to 'Back', ticket_kinds_path %>
