<% page_title "Listing tickets" %>

<table class="tabular">
  <tr>
    <th>Batch</th>
    <th>Event</th>
    <th>Status</th>
    <th>Kind, Email &amp; Discount Code</th>
    <th>Report</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.batch_id %></td>
    <td><%= Event.title(ticket.event_id) if ticket.event_id %></td>
    <td class="nowrap">
      <%= ticket.status_label %><br />
      <br />
      <%= link_to 'Show Ticket', ticket %>
    </td>
    <td>
      <%= ticket.ticket_kind.title %><br />
      <%= ticket.email %><br />
      <%= ticket.discount_code %><%= " &nbsp;<span class='label_note'>access code</span>".html_safe if ticket.ticket_kind.is_access_code %><br />
    </td>
    <td><%= ticket.report %></td>
  </tr>
<% end %>
</table>
