<!DOCTYPE html>
<html>
<head>
  <title>Compticketeer: <%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller.controller_name} #{action_name} #{controller.controller_name}_#{action_name}" %>'>
  <div>
    <% if current_user %>
      <%= link_to "Home", new_batch_path %> |
      <%= link_to "Batches", batches_path %> |
      <%= link_to "Tickets", tickets_path %> |
      <%= link_to "Ticket Kinds", ticket_kinds_path %> |
      <%= link_to "Logout", user_session_path, method: :delete %>
    <% end %>
  </div>

  <h1><%= page_title %></h1>

  <% if flash.present? %>
    <% flash.each_pair do |level, message| %>
      <div class="flash_notification flash_notification_<%= level %>">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
